{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Detail</title>

    <!-- Main StyleSheet -->



    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/logo.png">
    <link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">


    <!-- Fontawesome -->
    <link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">

    <!-- simple CSS -->

</head>

<body>
<!-- Navbar -->
    <header class="header-global bg-dark my-5">
        <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/logo-dark.png" alt="Logo dark">
                    <img class="navbar-brand-light" src="/static/assets/img/brand/logo.png" alt="Logo light">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'home' %}">Главная</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    {% if request.session.USER %}
                    <a class="btn btn-outline-gray-100" href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                    <a class="btn btn-outline-gray-100" href="{% url 'login' %}">Личный кабинет</a>
                    {% endif %}
                    <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Navbar -->
    <div class="section section-sm bg-white pt-5 pt-lg-6 text-black">
        <article class="container">

            {% if message %}
            <div class="row justify-content-center ">
                <div class="col-auto m-3">
                    <div class="toast bg-primary text-white fade show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <span class="far fa-comments me-2"></span>
                            <strong class="me-auto">Messsage</strong>
                            <small>{{ message.1 }}</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{ message.0 }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">



                    <!-- Div 1: Back to Home -->


                    <h2>{{room.name}}</h2>
                    <p><img class="rounded" width="500px" src="{{room.img}}" alt="Themesberg office"></p>





                    <p> <span class="room-description">{{ room.Description }}</span></p>
                    <p class="mt-5"><strong>Категория:</strong> {{ room.get_category_display }}</p>
                    <ul>
                        <li>Категория: {{room.category}}</li>
                        <li>Цена: {{room.price}} ₽</li>
                        <li>Количество спальных мест: {{room.beds}}</li>
                        <li>Вместимость: {{room.capacity}}</li>
                        <li>Удобства: {{room.facilities}}</li>
                    </ul>
                    <hr>
                    <!-- Div 3: Room Booking Form -->
                    <form id="booking-form" action="" method="POST">

                        {% csrf_token %}

                        <!-- Input Div -->
                        <div class="form-group">
                            <label for="id_check_in" class="h6">Check In : </label>
                            <input type="datetime-local" class="form-control datepicker-input" id="id_check_in" name="check_in">
                        </div>

                        <!-- Input Div -->
                        <div class="form-group mt-0">
                            <label for="id_check_in" class="h6">Check Out : </label>
                            <input type="datetime-local" class="form-control datepicker-input" id="id_check_out " name="check_out">
                        </div>



                        <!-- Input Div -->
                        <button class="btn mt-4 btn-outline-primary type=" submit ">Book the Room</button>


                    </form>

                </div>
            </div>
        </article>
    </div>



        <!-- Core -->
        <script src="/static/assets/vendor/@popperjs/core/dist/umd/popper.min.js "></script>
        <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.min.js "></script>
        <script src="/static/assets/vendor/headroom.js/dist/headroom.min.js "></script>

        <!-- Vendor JS -->
        <script src="/static/assets/vendor/onscreen/dist/on-screen.umd.min.js "></script>
        <script src="/static/assets/vendor/jarallax/dist/jarallax.min.js "></script>
        <script src="/static/assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js "></script>
        <script src="/static/assets/vendor/vivus/dist/vivus.min.js "></script>
        <script src="/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js "></script>

        <script async defer src="https://buttons.github.io/buttons.js "></script>

        <!-- Pixel JS -->
        <script src="/static/assets/js/pixel.js "></script>
    <!-- Footer -->
    <footer class="footer pt-3 pb-5 bg-dark text-white">
        <div class="container">
            <hr class="bg-secondary my-3 my-lg-5">
            <div class="row">
                <div class="col text-center">
                    <a href="{% url 'home' %}" target="_blank" class="d-flex justify-content-center mb-3">

                        <p class="text-white fw-bold m-0">Диплом УГГУ "Информатика и вычислительная техника"</p>
                    </a>
                    <p class="fw-normal font-small mb-0">Екатеринбург 2024 - Харламов Дмитрий Александрович</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>