{% extends "base.html" %}{% block content %}






    <hr class="bg-secondary  mt-0">
    <div class="section section-md">
        <div class="container">
            <!-- Nav Sorting -->
            <div class="row d-flex justify-content-center">

            </div>
            <!-- end Nav Sorting -->
            <!-- Row  -->
            <div class="row mb-5"> {% for h in Hotels|slice:"0:3" %}
                <!-- Hotel -->
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow">
                        <img src="{{h.img}}" class="card-img-top rounded-top" alt="Themesberg office" width="auto" height="163px">
                        <div class="card-body">
                            <div class="d-flex g-0 align-items-center mb-2">
                                <!-- Hotel name -->
                                <div class="col text-left">
                                    <h3 class="h5 card-title text-200"> {{h.name}}</h3>
                                </div>
                            </div>
                            <!-- Price -->
                            <div class="text-left my-2">

                                        </svg></span>{{h.price}}</span>
                            </div>



                            <!-- Hotel Description -->
                            <div class="card-text hotel-desc mb-3"> {{h.Description| safe}} </div>
                            <a href="{% url 'room' h.number%}" class="btn btn-primary btn-sm">Подробнее </a>
                        </div>
                    </div>
                </div>
                <!-- end  Hotel -->{% endfor %}
                <!--  end Row  -->
            </div>
            <!-- Row  -->
            <div class="row mb-5"> {% for h in Hotels|slice:"3:6" %}
                <!-- Hotel -->
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow">
                        <img src="{{h.img}}" class="card-img-top rounded-top" alt="Themesberg office" width="auto" height="163px">
                        <div class="card-body">
                            <div class="d-flex g-0 align-items-center mb-2">
                                <!-- Hotel name -->
                                <div class="col text-left">
                                    <h3 class="h5 card-title text-200"> {{h.name}}</h3>
                                </div>
                            </div>
                            <!-- Price -->
                            <div class="text-left my-2">

                                        </svg></span>{{h.price}}</span>
                            </div>


                            <!-- Hotel Description -->
                            <div class="card-text hotel-desc mb-3"> {{h.Description| safe}} </div>
                            <a href="{% url 'room' h.number%}" class="btn btn-primary btn-sm">Подробнее </a>
                        </div>
                    </div>
                </div>
                <!-- end  Hotel -->{% endfor %}
                <!--  end Row  -->
            </div>
            <!-- Row  -->
            <div class="row mb-5"> {% for h in Hotels|slice:"6:9" %}
                <!-- Hotel -->
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow">
                        <img src="{{h.img}}" class="card-img-top rounded-top" alt="Themesberg office" width="auto" height="163px">
                        <div class="card-body">
                            <div class="d-flex g-0 align-items-center mb-2">
                                <!-- Hotel name -->
                                <div class="col text-left">
                                    <h3 class="h5 card-title text-200"> {{h.name}}</h3>
                                </div>
                            </div>
                            <!-- Price -->
                            <div class="text-left my-2">

                                        </svg></span>{{h.price}}</span>
                            </div>



                            <!-- Hotel Description -->
                            <div class="card-text hotel-desc mb-3"> {{h.Description| safe}} </div>
                            <a href="{% url 'room' h.number%}" class="btn btn-primary btn-sm">Подробнее </a>
                        </div>
                    </div>
                </div>
                <!-- end  Hotel -->{% endfor %}
                <!--  end Row  -->
            </div>

        </div>
    </div> {% if Hotels.has_other_pages %}
    <!-- Pagination -->
    <div class="section section-md m-0">
        <nav aria-label="navigation" class="d-flex justify-content-center">
            <ul class="pagination"> {%if Hotels.has_previous %}
                <li class="page-item">
                    <a class="page-link" aria-label="first link" tabindex="-1" href="{% url 'home' %}?page={{Hotels.previous_page_number}}">Предыдущая</a>
                </li> {%else%}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="first link" tabindex="-1" href="#">Пред.</a>
                </li> {%endif%}
                <!--#######################-->{% for i in Hotels.paginator.get_elided_page_range %} {% if Hotels.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li> {% else %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li> {% endif %} {% endfor %}
                <!--#######################-->{%if Hotels.has_next %}
                <li class="page-item">
                    <a class="page-link" aria-label="first link" href="{% url 'home' %}?page={{Hotels.next_page_number}}">Следующая</a>
                </li> {%else%}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="first link" href="#">След.</a>
                </li> {%endif%}
            </ul>
        </nav>
    </div> {%endif%} {% endblock content %}